// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

$skinLogo: url("https://s3.amazonaws.com/cannabiz-network/pages/cbz.svg") no-repeat 0 0;

// $skinLogo: none;
$skinActiveColor: #2ab081;
$skinHeaderBck: #8A2A88; 
$panelHeaderBck: #2f2f2f;

@import "active_skin";

h1#site_title {
	background-position-x: 50% !important;
	background-size: 35% !important;
}

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
